.Simple h2 {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 27px;
    width: 340px;
}
.Simple p {
    margin: 0 auto;
    margin-bottom: 65px;
    width: 281px;
}

.Simple li {
    margin: 0 auto;
    width: 335px;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
}
.Simple li+li {
    margin-top: 33px;
}

.Simple li:last-child {
    margin-bottom: 103px;
  }

.b5 {
    max-width: 251px;
}

.Simple a {
    margin-bottom: 40px;
}