hr {
    margin: 0 auto;
    max-width: 452px;
    border: 1px solid #D2D2D2;
    margin-bottom: 120px;
}

.subscribe p {
    margin-top: 28px;
    margin-bottom: 68px;
}

form {
    margin-bottom: 112px;
}

::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #5C5C5C;
    text-align: start;
}

.subscribe input {
    background: #EFEFEF;
    border: 1px solid #D0D0D0;
    border-radius: 6px;
    padding: 14px 28px;
}

.b6 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background: #03D6F3;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
    padding: 18px 46px;
    border: none;
    margin-left: 10px;
}


@media (max-width: 768px) {
    .form-item {
        display: block;
        margin: 0 auto;
        width: 482px;
    }
    .subscribe input {
        border-radius: 7px;
    }
    .b6 {
        border-radius: 7px;
        margin: 0 auto;
        margin-top: 12px;
    }
    ::placeholder {
        text-align: center;
    }

}
@media (min-width: 769px) {
    .form-item {
        display: inline-block;
    }
    .b6 {
        text-transform: uppercase;
    }
    hr {
        width: 750px;
    }
   
}
@media (max-width: 520px) {
    .form-item {  
        width: 300px;
    }
}


