.specifically h2 {
    margin: 0 auto;
    margin-top: 107px;
    margin-bottom: 45px;

}

.specifically ul {
    margin-bottom: 97px;
}

.specifically li {
    max-width: 408px;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 0 auto;
    padding-bottom: 50px;
    color: #03D6F3;
}

.icon1 {
    margin: 42px 0 22px;
}

.specifically p {
    margin: 30px auto;
    max-width: 281px;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color:#5C5C5C;
}

.specifically li+li {
    margin-top: 64px;
}

.link {
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    color: #03D6F3;
    text-decoration: none;
}

.specifically li:hover {
    cursor: pointer;
    background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
}

.specifically li:hover,
.specifically li:hover h3,
.specifically li:hover p,
.specifically li:hover a {
    color: #fff;
}

.specifically-list-item-icon {
    fill: currentColor;
}


@media (max-width: 500px) {
    .specifically li {
        max-width: 270px;
    }
    .specifically p {
        max-width: 240px;
    }
}
@media (max-width: 600px) {
    .specifically h2 {
        max-width: 282px;
    }
}
@media (min-width: 769px) {
    .specifically h2 {
        margin-top: 111px;
        margin-bottom: 102px;
        max-width: 740px;
    }
}

@media (min-width: 880px) {
    .specifically h2 {
        margin-top: 111px;
        max-width: 765px;
    }
}


@media (min-width: 1320px) {
    .specifically {
        padding-bottom: 138px;
    }

    .container-1 {
        margin: 0 auto;
        width: 1300px;
    }
    .specifically ul {
        display: flex;
        margin: 0 auto;

    }
    .specifically li+li {
        margin-left: 30px;
    }
    .specifically li {
        padding-left: 60px;
        padding-right: 60px;
        text-align: start;
    }

    .specifically h3 {
        text-align: start;
    }
    .specifically li+li {
        margin-top: 0;
    }

}
