.quick-process img {
    max-width: 100%;
    margin-top: 98px;
    margin-bottom: 88px;
}

.quick-process h2 {
    margin-top: 58px;
    margin-bottom: 27px;
}

.quick-process-text {
    text-align: start;
    max-width: 335px;
    margin: 0 auto;
}
.quick-process-button {
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-decoration: none;
}
.b1 {
    background: #03D6F3;
    color: #fff;
}
.b2 {
    background: #fff;
    color: #30D7BA;
    border: 1px solid #30D7BA;
}


 @media (max-width: 620px) {
    .quick-process-text {
        max-width: 300px;
    }
    .quick-process a {
        width: 320px;
    }
}
@media (max-width: 420px) {
    .quick-process-text {
        max-width: 200px;
    }
    .quick-process a {
        width: 240px;
    }
}

@media (max-width: 1319px) {
    .quick-process-button {
        display: block;
        max-width: 340px;
        margin: 0 auto;
    }
    .quick-process a+a {
        margin-top: 22px;
        margin-bottom: 95px;
    }
}

@media (min-width: 1320px) {
    .container-2 {
        width: 1025px;
        margin: 0 auto;
        
    }
    .quick-process-text {
        max-width: 494px;
    }
    .quick-process-button {
        display: inline-block;
        padding: 18px 46px;
    }
    .quick-process a+a {
        margin-left: 22px; 
    }
     .quick-process {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3,1fr);
        justify-content: center;
        align-content: center;
        padding: 160px 0;
    }
    .quick-process-text {
        grid-column: 1/2;
        grid-row: 2/3; 
    }
    .quick-process-text h2 {
        margin-top: 0;
        margin-bottom: 46px;
    }
    .quick-process-img {
        grid-column: 2/3;
        grid-row: span 3;
        margin: 0;
        margin-left: 100px;
    }
    .quick-process-a {
        grid-column: 1/2;
        grid-row: 3/4; 
        text-align: left;
    }
    .quick-process {
        padding: 110px 20px;
    }
}
