.finance-text {
    text-align: start;
    max-width: 335px;
    margin: 0 auto;
}

.finance h2 {
    margin-top: 58px;
    margin-bottom: 27px;
}

.finance p {
    margin-bottom: 27px;
}

.learn-more {
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    color: #000;
    text-decoration: none;
}

.finance-img {
    margin-top: 70px;
    margin-bottom: 60px;
}

.finance-b1 {
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
    text-decoration: none;
    width: 147px;
    color: #fff;
    background: #03D6F3;
    padding: 18px 46px;
    display: inline-block;
    margin-bottom: 95px;
}


@media (max-width: 620px) {
    .finance-text {
        max-width: 300px;
    }
}
@media (max-width: 420px) {
    .finance-text {
        max-width: 200px;
    }
}
@media (min-width: 1320px) {
    .container-2 {
        width: 1025px;
        margin: 0 auto;
    }

    .learn-more {
        display: none;
    }
    .finance {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3,1fr);
        padding: 110px 0;
    }
    .finance-text {
        grid-column: 2/3;
        grid-row: 1/3;
        max-width: 524px;
    }
    .quick-process-text h2 {
        margin-top: 0;
        margin-bottom: 46px;
    }
    .finance-img {
        margin-top: 0;
        margin-bottom: 0;
        grid-column: 1/2;
        grid-row: span 3;
        margin-right: 100px;
    }
    .finance-a {
        grid-column: 2/3;
        grid-row: 3/4;
        justify-self: start;
    }
}
